# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [2]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: lxml in c:\users\dell\anaconda3\lib\site-packages (from pandas_datareader) (5.2.1)
Requirement already satisfied: pandas>=0.23 in c:\users\dell\anaconda3\lib\site-packages (from pandas_datareader) (2.2.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas_datareader) (2.32.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2025.6.15)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)
Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
   ---------------------------------------- 0.0/109.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/109.5 kB ? eta -:--:--
   --- ------------------------------------ 10.2/109.5 kB ? eta -:--:--
   --- ------------------------------------ 10.2/109.5 kB ? eta -:--:--
   ---------- ---------------------------- 30.7/109.5 kB 186.2 kB/s eta 0:00:01
   -------------- ------------------------ 41.0/109.5 kB 163.4 kB/s eta 0:00:01
   ------------------------- ------------- 71.7/109.5 kB 261.4 kB/s eta 0:00:01
   ----------------------------------- -- 102.4/109.5 kB 310.3 kB/s eta 0:00:01
   -------------------------------------- 109.5/109.5 kB 317.0 kB/s eta 0:00:00
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0

In [3]:
import pandas as pd
import pandas_datareader.data as web
from datetime import datetime

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [4]:
start = '2015-01-01'
end = datetime.today().strftime('%Y-%m-%d')
start, end

('2015-01-01', '2025-07-09')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [5]:
df_apple = web.DataReader('AAPL', 'av-daily', start, end, api_key='CKP3XGQDWAJT4QP3')
df_apple['stock'] = 'AAPL'
df_apple

               open      high       low   close    volume stock
2015-01-02  111.390  111.4400  107.3500  109.33  53204626  AAPL
2015-01-05  108.290  108.6500  105.4100  106.25  64285491  AAPL
2015-01-06  106.540  107.4300  104.6300  106.26  65797116  AAPL
2015-01-07  107.200  108.2000  106.6950  107.75  40105934  AAPL
2015-01-08  109.230  112.1500  108.7000  111.89  59364547  AAPL
...             ...       ...       ...     ...       ...   ...
2025-07-01  206.665  210.1865  206.1401  207.82  78788867  AAPL
2025-07-02  208.910  213.3400  208.1400  212.44  67941811  AAPL
2025-07-03  212.145  214.6500  211.8101  213.55  34955836  AAPL
2025-07-07  212.680  216.2300  208.8000  209.95  50228984  AAPL
2025-07-08  210.100  211.4300  208.4500  210.01  42848928  AAPL

[2643 rows x 6 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [6]:
# The "stock" column has already been added to df_apple in the previous cell.
# If you want to confirm, you can display the dataframe:
df_apple.head()

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL

In [7]:

df_ = web.DataReader('AAPL', 'av-daily', start, end, api_key='CKP3XGQDWAJT4QP3')
df_apple['stock'] = 'AAPL'
df_apple

               open      high       low   close    volume stock
2015-01-02  111.390  111.4400  107.3500  109.33  53204626  AAPL
2015-01-05  108.290  108.6500  105.4100  106.25  64285491  AAPL
2015-01-06  106.540  107.4300  104.6300  106.26  65797116  AAPL
2015-01-07  107.200  108.2000  106.6950  107.75  40105934  AAPL
2015-01-08  109.230  112.1500  108.7000  111.89  59364547  AAPL
...             ...       ...       ...     ...       ...   ...
2025-07-01  206.665  210.1865  206.1401  207.82  78788867  AAPL
2025-07-02  208.910  213.3400  208.1400  212.44  67941811  AAPL
2025-07-03  212.145  214.6500  211.8101  213.55  34955836  AAPL
2025-07-07  212.680  216.2300  208.8000  209.95  50228984  AAPL
2025-07-08  210.100  211.4300  208.4500  210.01  42848928  AAPL

[2643 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [8]:
df_tsla = web.DataReader('TSLA', 'av-daily', start, end, api_key='YOUR_API_KEY')
df_tsla['stock'] = 'TSLA'
df_ibm = web.DataReader('IBM', 'av-daily', start, end, api_key='YOUR_API_KEY')
df_ibm['stock'] = 'IBM'
df_msft = web.DataReader('MSFT', 'av-daily', start, end, api_key='YOUR_API_KEY')
df_msft['stock'] = 'MSFT'

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [9]:
df = pd.concat([df_apple, df_tsla, df_ibm, df_msft])
df

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL
...            ...     ...      ...     ...       ...   ...
2025-07-01  496.47  498.05  490.980  492.05  19945375  MSFT
2025-07-02  489.99  493.50  488.700  491.09  16319641  MSFT
2025-07-03  493.81  500.13  493.440  498.84  13984829  MSFT
2025-07-07  497.38  498.75  495.225  497.72  13981605  MSFT
2025-07-08  497.24  498.20  494.110  496.62  11846586  MSFT

[10572 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [10]:
df.set_index('stock', append=True, inplace=True)
df = df.reorder_levels(['stock', df.index.names[0]])
df

                    open    high      low   close    volume
stock
AAPL  2015-01-02  111.39  111.44  107.350  109.33  53204626
      2015-01-05  108.29  108.65  105.410  106.25  64285491
      2015-01-06  106.54  107.43  104.630  106.26  65797116
      2015-01-07  107.20  108.20  106.695  107.75  40105934
      2015-01-08  109.23  112.15  108.700  111.89  59364547
...                  ...     ...      ...     ...       ...
MSFT  2025-07-01  496.47  498.05  490.980  492.05  19945375
      2025-07-02  489.99  493.50  488.700  491.09  16319641
      2025-07-03  493.81  500.13  493.440  498.84  13984829
      2025-07-07  497.38  498.75  495.225  497.72  13981605
      2025-07-08  497.24  498.20  494.110  496.62  11846586

[10572 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [11]:
vol = df['volume'].unstack(level=0)
vol

stock           AAPL      IBM      MSFT       TSLA
2015-01-02  53204626  5525341  27913852    4764443
2015-01-05  64285491  4880389  39673865    5368477
2015-01-06  65797116  6145670  36447854    6261936
2015-01-07  40105934  4701015  29114061    2968390
2015-01-08  59364547  4240585  29645202    3442509
...              ...      ...       ...        ...
2025-07-01  78788867  3272797  19945375  145085665
2025-07-02  67941811  3257515  16319641  119483730
2025-07-03  34955836  1853289  13984829   58042302
2025-07-07  50228984  4488064  13981605  131177949
2025-07-08  42848928  2925329  11846586  103246742

[2643 rows x 4 columns]

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [13]:
vol.index = pd.to_datetime(vol.index)
vol_weekly = vol.resample('W').sum()
vol_weekly

stock            AAPL       IBM       MSFT       TSLA
2015-01-04   53204626   5525341   27913852    4764443
2015-01-11  282868187  24440360  158596624   22622034
2015-01-18  304226647  23272056  157088136   30799137
2015-01-25  198737041  31230797  137352632   16215501
2015-02-01  465842684  32927307  437786778   15720217
...               ...       ...        ...        ...
2025-06-15  283877006  20812836   84010090  648868571
2025-06-22  224085074  17965949   86142890  376034221
2025-06-29  273391727  19051199  120782782  594806066
2025-07-06  273599330  11878987   78618836  399306778
2025-07-13   93077912   7413393   25828191  234424691

[550 rows x 4 columns]

### Step 9. Find all the volume traded in the year of 2015

In [15]:
vol_2015 = vol.loc['2015']
vol_2015.sum()

stock
AAPL    13064316775
IBM      1105545521
MSFT     9057582311
TSLA     1086708380
dtype: int64