# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
pd.Series(np.random.randint(1, 5, 100))
pd.Series(np.random.randint(1, 4, 100))
pd.Series(np.random.randint(10000, 30001, 100))

0     11752
1     26261
2     27549
3     21807
4     18677
      ...
95    25576
96    13905
97    24123
98    15298
99    15298
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
pd.concat([pd.Series(np.random.randint(1, 5, 100)), pd.Series(np.random.randint(1, 4, 100)), pd.Series(np.random.randint(10000, 30001, 100))], axis=1)

    0  1      2
0   3  2  20826
1   1  1  16992
2   4  2  16864
3   3  3  12068
4   2  1  24615
.. .. ..    ...
95  4  3  23935
96  4  2  26711
97  2  3  25278
98  4  2  25571
99  3  1  25275

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
df = pd.concat([pd.Series(np.random.randint(1, 5, 100)), pd.Series(np.random.randint(1, 4, 100)), pd.Series(np.random.randint(10000, 30001, 100))], axis=1)
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
df

    bedrs  bathrs  price_sqr_meter
0       2       1            17559
1       3       1            18314
2       2       3            24176
3       3       1            11485
4       2       2            21840
..    ...     ...              ...
95      1       2            15104
96      2       1            27500
97      3       3            23462
98      3       1            25781
99      3       2            27380

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [5]:
bigcolumn = pd.concat([pd.Series(np.random.randint(1, 5, 100)), pd.Series(np.random.randint(1, 4, 100)), pd.Series(np.random.randint(10000, 30001, 100))], axis=0).to_frame()
bigcolumn

        0
0       3
1       1
2       2
3       1
4       1
..    ...
95  26052
96  13708
97  22157
98  20310
99  16969

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [6]:
bigcolumn.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
       ...
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        3
1        1
2        2
3        1
4        1
..     ...
295  26052
296  13708
297  22157
298  20310
299  16969

[300 rows x 1 columns]