# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data = {
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'type': ['grass', 'fire', 'water', 'bug'],
    'hp': [45, 39, 44, 45],
    'evolution': [1, 1, 1, 0],
    'pokedex': [1, 4, 7, 10]
}
data

{'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'type': ['grass', 'fire', 'water', 'bug'],
 'hp': [45, 39, 44, 45],
 'evolution': [1, 1, 1, 0],
 'pokedex': [1, 4, 7, 10]}

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame(data)
pokemon

         name   type  hp  evolution  pokedex
0   Bulbasaur  grass  45          1        1
1  Charmander   fire  39          1        4
2    Squirtle  water  44          1        7
3    Caterpie    bug  45          0       10

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp  evolution  pokedex
0   Bulbasaur  grass  45          1        1
1  Charmander   fire  39          1        4
2    Squirtle  water  44          1        7
3    Caterpie    bug  45          0       10

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
pokemon['place'] = ['forest', 'volcano', 'lake', 'forest']
pokemon

         name   type  hp  evolution  pokedex    place
0   Bulbasaur  grass  45          1        1   forest
1  Charmander   fire  39          1        4  volcano
2    Squirtle  water  44          1        7     lake
3    Caterpie    bug  45          0       10   forest

### Step 6. Present the type of each column

In [6]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution     int64
pokedex       int64
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [7]:
# BONUS: Which Pokemon has the highest HP?
pokemon.loc[pokemon['hp'].idxmax()]

name         Bulbasaur
type             grass
hp                  45
evolution            1
pokedex              1
place           forest
Name: 0, dtype: object